body {
    background: #d2d2c1 url(../Projetos/ProjetoAnnaBella/img/fundo.png) repeat scroll;
}

#menu {
    background: #c5c5b2;
    padding: 30px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    margin: 30px;
    text-decoration: none;
    color: #4b566a;
}

#principal {
    width: 900px;
}

#sobre {
    background: #e8e8d9;
    padding: 10px;
}

h1 {
    color: #828271;
    font-size: 24px;
}

#foto {
    border: 10px solid #c3c3ae;
}