/* Modelo de caixa */

.conteudo {
    border: 2px solid red;
    /* padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 20px; */

    /* padding: 20px 50px 20px 20px; */
    padding: 20px;

    /* margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px; */
    margin: 10px;
    width: 150px;
}