/* #destaque {
	background: red;
} */

/* li.primeiro {
	background: orange;
} */

/* .destaque {
	color: #ffffff;
	background: black;
} */

body {
	font-size: 35px;
}

#itens {
	background: orange;
}

.vermelho {
	background: red;
}

.laranja {
	background: orange;
}

.texto {
	color: white;
}
