* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"cabecalho cabecalho"
		"conteudo imagem"
		"organizacao-imagem organizacao-conteudo";
	row-gap: 20px;
	column-gap: 20px;
}

header {
	grid-area: cabecalho;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
}

/* Configurações no main */

section#conteudo {
	grid-area: conteudo;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section#imagem {
	grid-area: imagem;
}

section#organizacao-imagem {
	grid-area: organizacao-imagem;
}
section#imagem > img,
section#organizacao-imagem > img {
	max-width: 100%;
}
section#organizacao-conteudo {
	grid-area: organizacao-conteudo;
}

nav {
	display: flex;
	flex-grow: 1;
	justify-content: center;
}
nav ul {
	display: flex;
	list-style-type: none;
}

nav ul li {
	margin: 0 20px;
}
nav ul a:link,
nav ul a:visited {
	padding: 10px 15px;
	text-decoration: none;
	color: #484848;
	font-size: 1.2rem;
}
nav ul a:hover {
	color: #0b5cff;
}
.botao {
	background: #fff;
	color: blue;
	border: 1px solid blue;
	border-radius: 25px;
	padding: 5px 20px;
	text-decoration: none;
	align-self: flex-start;
}

.botao.destaque {
	background: rgb(18, 18, 204);
	color: #fff;
}

/* Tipografia */
h1 {
	font-size: 2.5rem;
	margin-bottom: 50px;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 50px;
	margin-top: 40px;
}

p {
	margin-bottom: 20px;
}

h3 {
	padding-top: 20px;
	padding-bottom: 20px;
}
/* Rodapé */
footer {
	background: #f2f2f2;
	padding-top: 20px;
	padding-bottom: 40px;
	text-align: center;
	margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-areas:
			"cabecalho"
			"conteudo"
			"imagem"
			"organizacao-imagem"
			"organizacao-conteudo";
	}
	header {
		flex-direction: column;
		align-items: center;
	}
	header a {
		display: inline-block;
		margin-top: 20px;
	}
}
