/* Limpar formatações padrão */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #ccc;

}

#cabecalho {
    background: #f7b600;
    display: block;
    padding: 10px;
    text-align: center;
    border: 1px solid red;
}

h1 {
    color: #4e4e4e;
    font-size: 3em;
    padding: 10px 0px;
}

#blog {
    color: #fff;
}

#menu a {
    color: #fff;
    font-size: 1.2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    display: inline-block;
    margin: 20px 20px;
    padding: 10px;
    border: 1px solid red;
}


#menu a:hover {
    background: #fff;
    padding: 10px;
    color: #f7b600;

}

#principal {
    border: 1px solid red;
    width: 940px;
    display: block;
    margin: 20px auto;
}

#postagens {
    padding: 20px;
    width: 620px;
    border: 1px solid red;
    background: #fff;
    float: left;
    margin-bottom: 20px;
}

h2 {
    margin: 10px 0;
}

#data-postagem {
    margin: 10px 0;
}

#area-lateral {
    background: #fff;
    width: 240px;
    float: right;
    padding: 10px;
    margin-bottom: 15px;
}

h3 {
    background: #ccc;
    color: #565656;
    padding: 5px;
    font-size: 1.4em;
}

.conteudo-lateral p {
    font-size: 1em;
    margin: 10px;
}

.leia-mais {
    color: #f7b600;
}

span:hover {
    text-decoration: underline;
}

.categorias a {
    text-decoration: none;
    color: #f7b600;
    display: block;
}

#rodape {
    clear: both;
    border: 1px solid red;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4em;
}