.about {
	margin: 0 auto;
	padding-top: 70px;
	min-height: 100vh;
}

.about__content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	min-height: 100%;
}

.about__content .about__left {
	order: 1;
	margin-top: 100px;
	text-align: center;
}

.about__content .about__left img {
	width: 100%;
	max-width: 320px;
	border-radius: 24px;
}

.about__content .about__right {
	order: 2;
	margin-top: 100px;
	text-align: justify;
}
.about__content .about__right h2 {
	width: fit-content;
	font-size: 5rem;
	margin: 0 auto;
}
.about__content .about__right p {
	width: fit-content;
	font-size: 1.2rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

.about__content .about__right .about__techs {
	display: flex;
	justify-content: center;
	text-align: center;
	gap: 20px;
}

.about__content .about__right .about__javascript {
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 1.2rem;
	color: #000000;
	background: #f7df1e;
}
.about__content .about__right .about__html {
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 1.2rem;
	color: #000000;
	background: #e34f26;
}
.about__content .about__right .about__css {
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 1.2rem;
	color: #000000;
	background: #1572b6;
}
.about__content .about__right .about__nodejs {
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 1.2rem;
	color: #000000;
	background: #3c873a;
}
.about__content .about__right .about__typescript {
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 1.2rem;
	color: #000000;
	background: #3178c6;
}
.about__content .about__right .about__react {
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 1.2rem;
	color: #000000;
	background: #61dafb;
}
.about__content .about__right .about__next {
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 1.2rem;
	color: #ffffff;
	background: #111111;
}
.about__content .about__right .about__tailwind {
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 1.2rem;
	color: #000000;
	background: #38bdf8;
}
.about__content .about__right .about__docker {
	border-radius: 20px;
	padding: 10px 20px;
	font-size: 1.2rem;
	color: #000000;
	background: #2496ed;
}

.about__content .about__right .about__cv {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 40px;
	padding: 10px 5px 10px 5px;
	border-radius: 10px;
	background: #d9d9d9;
}
.about__content .about__right .about__cv a {
	font-size: 1.5rem;
	color: #000;
}
