.contact__content {
	max-width: 840px;
	margin: 0 auto;
	min-height: 100vh;
	padding-top: 150px;
	text-align: center;
}
.contact__content h2 {
	color: #ffffff;
	font-size: 3rem;
}
.contact__content p {
	font-size: 1rem;
	color: #94a3b8;
	margin-top: 70px;
	text-align: justify;
}
.contact__content span {
	display: block;
	color: #ffffff;
	margin-top: 20px;
}
.contact__content i {
	font-size: 24px;
	color: #ffffff;
}

/* .contact__content .btn {
	display: inline-block;
	margin-top: 50px;
	padding: 10px 15px;
	color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 5px;
}

.contact__content .btn:hover {
	background: #1572b6;
	box-shadow:
		0 0 30px rgba(59, 130, 246, 0.55),
		0 0 80px rgba(21, 114, 182, 0.45);
} */

.contact-icone {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-top: 20px;
}

.contact-icone i {
	display: inline-block;
	font-size: 40px;
	color: #ffffff;
	opacity: 0.9;
	transition: 0.3s;
	border-radius: 50%;
	border: 1px solid #ffffff;
	padding: 5px;
}
.contact-icone i:hover {
	background: #1572b6;
	transform: scale(1.1);
	border: 1px solid rgba(59, 130, 246, 0.35);
	box-shadow: 0 0 30px rgba(59, 130, 246, 0.55);
}
